@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.sidebar {
  width: 14rem;
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(228, 225, 225,.1), rgb(86, 77, 128,1));
  font-family: 'Roboto', sans-serif;
}

hr {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  color: black;
}
